@charset "UTF-8";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media print {
    #floating-commands,.leaflet-control-attribution,.leaflet-control-layers,.leaflet-control-zoom,app-counter,app-legend {
        display: none!important
    }

    .modal,body,ngb-modal-window {
        overflow: visible!important;
        position: static!important;
        height: -webkit-fit-content!important;
        height: -moz-fit-content!important;
        height: fit-content!important
    }

    .leaflet-control,.modal-backdrop,button.btn,button.close {
        display: none
    }

    .modal-dialog {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%
    }

    .nav-pills,.nav-tabs {
        display: none!important
    }

    .tab-content .tab-pane {
        opacity: 1!important;
        height: auto!important
    }

    .tab-content .tab-pane,[ngbNavOutlet] .tab-pane {
        display: block!important;
        visibility: visible!important
    }

    [ngbNavOutlet] .tab-pane {
        margin-bottom: 20px
    }
    .panel-collapse, app-map{display:none !important}
}
@media screen {
    .d-print-block{
        display: none;
    }
}
@import '~bootstrap/dist/css/bootstrap.min.css';
/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
@import './app/map/map.component.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';