version: '3'
services:
  driver-django:
    build:
      context: ./
    depends_on:
      - mapserver
    environment:
      - CENTER_LATITUDE=${CENTER_LATITUDE}
      - CENTER_LONGITUDE=${CENTER_LONGITUDE}
      - ZOOM=${ZOOM}
      - HOST_URL=${PROTOCOL}://${HOST_NAME}
      - HOSTNAME=${HOST_NAME}
      - TIMEZONE=${TIMEZONE}
      - DJANGO_ENV=production
      - DRIVER_DB_HOST=${DRIVER_DB_HOST}
      - DRIVER_DB_NAME=${DRIVER_DB_NAME}
      - DRIVER_DB_USER=${DRIVER_DB_USER}
      - DRIVER_DB_PASSWORD=${DRIVER_DB_PASSWORD}
      - DRIVER_REDIS_HOST=172.17.0.1
      - OAUTH_CLIENT_ID=${CLIENTID}
      - OAUTH_CLIENT_SECRET=${CLIENT_SECRET}st 
      - DRIVER_ADMIN_PASSWORD=${DRIVER_ADMIN_PASSWORD}
      - CONTAINER_NAME=${CONTAINER_NAME}
      - IDLE_TIMEOUT=${IDLE_TIMEOUT}
      - PYTHONUNBUFFERED=1
      - DJANGO_ENV=development
    container_name: driver-django-${CONTAINER_NAME}
    image: alien9/driver-django
    command: ["./manage.py", "runserver", '0.0.0.0:4000'] 
    #, '--settings', 'driver.settings_dev']
    volumes:
      - ./templates:/opt/app/templates
      - ./data:/opt/app/data
      - ./black_spots:/opt/app/black_spots
      - ./driver:/opt/app/driver
      - ./driver_auth:/opt/app/driver_auth
      - ./grout:/opt/app/grout
      - ./locale:/opt/app/locale
      - ./mapserver:/opt/app/mapserver
      - ./user_filters:/opt/app/user_filters
      - ./static:/var/www/static
      - ./media:/opt/app/media
      - ./indexdir:/opt/app/indexdir
      - ./requirements.txt:/opt/app/requirements.txt
      - ./.env:/opt/app/.env
      - ./zip:/opt/app/zip
    ports:
      - 8009:4000
      - 4000:4000
      - 8000:4000
    extra_hosts:
      - "host.docker.internal:host-gateway"

  driver-celery:
    volumes:
      - ./zip:/opt/app/zip
      - ./indexdir:/opt/app/indexdir
      - ./data:/opt/app/data
      - ./black_spots:/opt/app/black_spots
      - ./driver:/opt/app/driver
      - ./driver_auth:/opt/app/driver_auth
      - ./grout:/opt/app/grout
      - ./locale:/opt/app/locale
      - ./mapserver:/opt/app/mapserver
      - ./user_filters:/opt/app/user_filters
      - ./static:/var/www/static
      - ./requirements.txt:/opt/app/requirements.txt
      - ./.env:/opt/app/.env
    environment:
      - HOST_URL=${PROTOCOL}://${HOST_NAME}
      - HOSTNAME=${HOST_NAME}
      - COUNTRY_CODE=${COUNTRY_CODE}
      - TIMEZONE=${TIMEZONE}
      - DJANGO_ENV=production
      - DRIVER_DB_HOST=${DRIVER_DB_HOST}
      - DRIVER_DB_NAME=${DRIVER_DB_NAME}
      - DRIVER_DB_USER=${DRIVER_DB_USER}
      - DRIVER_DB_PASSWORD=${DRIVER_DB_PASSWORD}
      - DRIVER_REDIS_HOST=172.17.0.1
      - STATIC_ROOT=/var/www/static/
      - OAUTH_CLIENT_ID=${CLIENTID}
      - OAUTH_CLIENT_SECRET=${CLIENT_SECRET}
      - DJANGO_SETTINGS_MODULE=driver.settings_dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    entrypoint: ["celery", "-A","driver", "worker", "--loglevel=info", "--concurrency=4", "-E", "--queues=taskworker"]
    container_name: driver-celery-${CONTAINER_NAME}
    image: alien9/driver-django
        
  mapserver:
    container_name: mapserver-${CONTAINER_NAME}
    volumes:
      - ./mapserver/:/etc/mapserver
    image: camptocamp/mapserver
    ports:
      - 8999:80

  driver-angular:
    container_name: angular-${CONTAINER_NAME}
    image: alien9/driver-angular
    build:
      context: ./angular/driver/
    volumes:
      - ./angular/driver:/opt/driver
    ports:
      - 4201:4200

  grouteditor:
    container_name: grout-${CONTAINER_NAME}
    image: alien9/grouteditor
    build:
      context: ./grouteditor/
    volumes:
      - ./grouteditor:/opt/driver
    ports:
      - 4222:4200
      - 9876:9876
    #profiles:
    #  - ${GROUTEDITOR}
