{% extends 'base.html' %}

{% block content %}
  <h3>Redefinir senha</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  <script type="text/javascript">
  if(window.location.search && window.location.search.length>0){
    var u=window.location.search.match(/username=([^;]+)/);
    if(u){
      var username=u.pop();
      var a=document.getElementsByTagName('input');
      for(var k=0;k<a.length; k++){
        console.log(k);
        if(a[k].getAttribute('name')=='email'){
          a[k].value=username;
        }
      }
      document.getElementsByTagName('form')[0].submit();
    }
  }
  
  </script>
{% endblock %}