{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="id_new_password1" class="text-right-on-rtl ng-binding">Nova senha:</label>
        <input type="password" id="new_password1" name="new_password1"  class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
      </div>

      <div class="form-group">
        <label for="id_new_password2" class="text-right-on-rtl ng-binding">Confirmação da nova senha:</label>
        <input type="password" id="new_password2" name="new_password2"  class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
      </div>

      <button type="submit" class="btn btn-default btn-lg ng-binding">
                    Redefinir senha
      </button>
    </form>
  {% else %}
    <p>
      O link não é válido ou já foi utilizado.
    </p>
  {% endif %}
{% endblock %}
