.invis {
    border: none;
    padding: 0;
    background-color: transparent;
}
.timed{
    width:4em;
    display:inline;
}
.pic{
    width: 100%;
    max-width: 80px;
}

.radiopic{
    max-width: 80px; 
}
.radiopicselected{
    border:1px solid gray;

}
.radinho{
    vertical-align: middle;
}
