<div class="modal-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)=tabChange($event)>
        <li [ngbNavItem]="k.key" *ngFor="let k of schema['definitions']|keyvalue|orderBy">
            <a ngbNavLink *ngIf="!k.value.multiple">{{k.value.title|translate}}</a>
            <a ngbNavLink *ngIf="k.value.multiple">{{k.value.plural_title|translate}}</a>
            <ng-template ngbNavContent>
                <input [(ngModel)]="record['occurred_from']" type="hidden">
                <div class="small-map" *ngIf="k.value.details">
                    <div class="input-map" leaflet [leafletLayers]=layers [leafletLayersControl]="layersControl" [leafletOptions]="options" (leafletMapReady)=mapReady($event)></div>
                </div>
                <ul class="list-group list-group-flush" *ngIf="k.value.details">
                    <li class="list-group-item">
                        <span>{{'Latitude'|translate}}</span>: {{record['geom'].coordinates[1]}}
                    </li>
                    <li class="list-group-item">
                        <span>{{'Longitude'|translate}}</span>: {{record['geom'].coordinates[0]}}
                    </li>
                    <li class="list-group-item">
                        <span>{{'Location'|translate}}</span>: <span *ngIf="!editing">{{record["location_text"] }}</span>
                        <input class="form-control" *ngIf="editing" [(ngModel)]="record['location_text']">
                    </li>
                    <li class="list-group-item">
                        <input class="form-control" type=hidden placeholder="yyyy-mm-dd" name="occurred_date" [(ngModel)]="occurred_date_ngb" ngbDatepicker #df="ngbDatepicker" (dateSelect)="setDate($event)">
                        <span>{{'Date and time'|translate}}</span>:
                        <span *ngIf=!editing>{{record["occurred_from"]|localizedDate }} {{record["occurred_from"]|localizedDate:'shortTime' }}</span>
                        <span *ngIf=editing>
                            <a href="#" (click)=df.toggle()>{{record["occurred_from"]|localizedDate }}</a>
                            <ngb-timepicker [(ngModel)]="occurred_time" [spinners]=false [meridian]=false *ngIf=editing  (change)=setDate($event)></ngb-timepicker>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span>{{'Weather'|translate}}</span>: <span *ngIf="!editing">{{record["weather"]|translate}}</span>
                        <select *ngIf="editing" class="form-select" [(ngModel)]="record['weather']">
                            <!--possible values: 
                                {{'clear-day'|translate}},{{'clear-night'|translate}},{{'cloudy'|translate}},{{'fog'|translate}},{{'hail'|translate}},{{'partly-cloudy-day'|translate}},{{'partly-cloudy-night'|translate}},{{'rain'|translate}},{{'sleet'|translate}},{{'snow'|translate}},{{'thunderstorm'|translate}},{{'tornado'|translate}},{{'wind'|translate}}
                            -->
                            <option [ngValue]="v" *ngFor="let v of weatherValues">{{v|translate}}</option>
                        </select>
                    </li>
                    <li class="list-group-item">
                        <!--possible values are {{'night'|translate}}{{'dawn'|translate}}{{'day'|translate}}{{'dusk'|translate}}-->
                        <span>{{'Light'|translate}}</span>: {{record["light"]|translate}}
                    </li>
                </ul>
                <div *ngIf="!k.value.multiple">
                    <ul class="list-group list-group-flush" *ngFor="let f of k.value.properties|keyvalue|display|orderBy">
                        <li class="list-group-item">{{f.key|translate}}:
                            <span *ngIf="!editing">{{record['data']|dict_dump:k.key:null:f.key|format:f.value|translate}}</span>
                            <span *ngIf="editing">
                                <select class="form-select" *ngIf="f.value.displayType=='select'"
                                    [(ngModel)]="record['data'][k.key][f.key]">
                                    <option></option>
                                    <option *ngFor="let o of f.value.enum" [ngValue]="o">{{o|translate}}</option>
                                </select>
                                <input class="form-control" type="text" [(ngModel)]="record['data'][k.key][f.key]"
                                    *ngIf="f.value.fieldType=='text' && f.value.type=='string'">
                                <input class="form-control" type="number" [(ngModel)]="record['data'][k.key][f.key]"
                                    *ngIf="f.value.fieldType=='integer'">
                                <input class="form-control" type="number" [(ngModel)]="record['data'][k.key][f.key]"
                                    *ngIf="f.value.fieldType=='number'">
                            </span>
                            <img [src]="record['data'][k.key][f.key]" *ngIf="f.value.media && record['data'][k.key] && record['data'][k.key][f.key]">
                        </li>
                    </ul>
                </div>
                <div *ngIf="k.value.multiple">
                    <button *ngIf=editing type="button" class="btn btn-light float-right" (click)="addElement(k.key)"> + </button>
                    <div class="card" *ngFor="let kk of record['data'][k.key]; let i = index">
                        <div class="card-body">
                            <h5 class="card-title">{{k.value.title|translate}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{k.value.description|translate}}</h6>
                            <ul class="list-group list-group-flush" *ngFor="let f of k.value.properties|keyvalue|display|orderBy">
                                <li class="list-group-item">{{f.key|translate}}:
                                    <span *ngIf="!editing && (f.value.fieldType=='reference') && record['data'][k.key][i][f.key]">
                                        {{(record['data'][f.value.watch.target]|related:record['data'][k.key][i][f.key])[schema['definitions'][f.value.watch.target].properties|keyvalue|arrayfirst]|translate}}
                                    </span>
                                    <span *ngIf="!editing && f.value.fieldType!='reference'">{{record['data']|dict_dump:k.key:i:f.key|format:f.value|translate}}</span>
                                    <span *ngIf="editing">
                                        <select class="form-select" *ngIf="f.value.displayType=='select'"
                                            [(ngModel)]="record['data'][k.key][i][f.key]">
                                            <option></option>
                                            <option *ngFor="let o of f.value.enum" [ngValue]="o">{{o|translate}}
                                            </option>
                                        </select>
                                        <input class="form-control" type="text"
                                            [(ngModel)]="record['data'][k.key][i][f.key]"
                                            *ngIf="f.value.fieldType=='text' && f.value.type=='string'">
                                        <input class="form-control" type="number"
                                            [(ngModel)]="record['data'][k.key][i][f.key]"
                                            *ngIf="f.value.fieldType=='integer'">
                                        <input class="form-control" type="number"
                                            [(ngModel)]="record['data'][k.key][i][f.key]"
                                            *ngIf="f.value.fieldType=='number'">
                                        <select class="form-select" *ngIf="f.value.fieldType=='reference'"
                                            [(ngModel)]="record['data'][k.key][i][f.key]">
                                            <option></option>
                                            <option *ngFor="let related of record['data'][f.value.watch.target]"
                                                [ngValue]="related['_localId']">
                                                {{related[schema['definitions'][f.value.watch.target].properties|keyvalue|arrayfirst]|translate}}
                                            </option>
                                        </select>
                                    </span>
                                    <img [src]="record['data'][k.key][f.key]" *ngIf="f.value.media && record['data'][k.key] && record['data'][k.key].length>i && record['data'][k.key][i][f.key]">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="deleteRecord(modal)" *ngIf="editing">{{'Delete'|translate}}</button>
    <button type="button" class="btn btn-dark" (click)="saveRecord(modal)" *ngIf="editing">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-light" (click)="closeModal(modal)">{{'Close'|translate}}</button>
</div>