<div class="modal-body" id="modal-body input" (keypress)="submit($event,modal)">
    <ul ngbNav #nav="ngbNav" class="nav-tabs" (navChange)=tabChange($event)>
        <li [ngbNavItem]="k.key" *ngFor="let k of schema['definitions']|keyvalue|orderBy">
            <a ngbNavLink *ngIf="!k.value.multiple">{{k.value.title|translate}}</a>
            <a ngbNavLink *ngIf="k.value.multiple">{{k.value.plural_title|translate}}</a>
            <ng-template ngbNavContent>
                <input [(ngModel)]="record['occurred_from']" type="hidden">
                <div class="small-map" *ngIf="k.value.details">
                    <div class="input-map" leaflet [leafletLayers]=layers [leafletLayersControl]="layersControl"
                        (map)=setMap($event) [leafletOptions]="options" (leafletMapReady)=mapReady($event)></div>
                </div>
                <h6 class="card-subtitle mb-2 p-2 text-muted" [innerHTML]="k.value.description|unbreak|translate"
                    *ngIf="editing"></h6>
                <ul class="list-group list-group-flush" *ngIf="!k.value.multiple">
                    <span *ngIf="k.value.details">
                        <li class="list-group-item">
                            <span>{{'Latitude'|translate}}</span>: <span
                                *ngIf="!editing">{{record['geom'].coordinates[1]}}</span>
                            <input class="form-control" *ngIf="editing" [(ngModel)]="record['geom'].coordinates[1]">
                        </li>
                        <li class="list-group-item">
                            <span>{{'Longitude'|translate}}</span>: <span
                                *ngIf="!editing">{{record['geom'].coordinates[0]}}</span>
                            <input class="form-control" *ngIf="editing" [(ngModel)]="record['geom'].coordinates[0]">
                        </li>
                        <li class="list-group-item">
                            <span>{{'Location'|translate}}</span>: <span
                                *ngIf="!editing">{{record["location_text"]}}</span>
                            <input class="form-control" *ngIf="editing" [(ngModel)]="record['location_text']"
                                [ngbTypeahead]="geocode" [inputFormatter]="geoInputFormatter"
                                (selectItem)="selectGeocodedOption($event)" [resultFormatter]="geoResultFormatter">
                            <small *ngIf="geocoding" class="form-text text-muted">{{'searching'|translate}}...</small>
                        </li>
                        <li class="list-group-item">
                            <input class="form-control" type=hidden placeholder="yyyy-mm-dd" name="occurred_date"
                                [(ngModel)]="occurred_date_ngb" ngbDatepicker #df="ngbDatepicker"
                                (dateSelect)="setDate($event)">
                            <span>{{'Date and time'|translate}}</span>:
                            <span *ngIf=!editing>{{record["occurred_from"]|localizedDate:'dd/MM/yyyy':locale }}
                                {{record["occurred_from"]|localizedDate:'shortTime':locale }}</span>
                            <span *ngIf=editing>
                                <a href="#"
                                    (click)=df.toggle()>{{record["occurred_from"]|localizedDate:'dd/MM/yyyy':locale
                                    }}</a>
                                <ngb-timepicker [(ngModel)]="occurred_time" [spinners]=false [meridian]=false
                                    *ngIf=editing (change)=setDate($event)></ngb-timepicker>
                            </span>
                        </li>
                        <li class="list-group-item" *ngIf="config['OPENWEATHER_RAPID_KEY']">
                            {{config['OPENWEATHER_RAPID_KEY']}}
                            <span>{{'Weather'|translate}}</span>: <span
                                *ngIf="!editing">{{record["weather"]|translate}}</span>
                            <select *ngIf="editing" class="form-select" [(ngModel)]="record['weather']">
                                <!--possible values: 
                                {{'clear-day'|translate}},{{'clear-night'|translate}},{{'cloudy'|translate}},{{'fog'|translate}},{{'hail'|translate}},{{'partly-cloudy-day'|translate}},{{'partly-cloudy-night'|translate}},{{'rain'|translate}},{{'sleet'|translate}},{{'snow'|translate}},{{'thunderstorm'|translate}},{{'tornado'|translate}},{{'wind'|translate}}
                            -->
                                <option [ngStyle]="{'font-family':fontFamily}" [ngValue]="v"
                                    *ngFor="let v of weatherValues">{{v|translate}}</option>
                            </select>
                        </li>
                        <li class="list-group-item" *ngFor="let b of selectedBoundaries">
                            <span>{{b.label}}</span>: <span>{{b.value}}</span>
                        </li>
                        <li class="list-group-item">
                            <!--possible values are {{'night'|translate}}{{'dawn'|translate}}{{'day'|translate}}{{'dusk'|translate}}-->
                            <span>{{'Light'|translate}}</span>: <span
                                *ngIf="!editing">{{record["light"]|translate}}</span>
                            <select *ngIf="editing" class="form-select" [(ngModel)]="record['light']">
                                <!--possible values: 
                                {{'clear-day'|translate}},{{'clear-night'|translate}},{{'cloudy'|translate}},{{'fog'|translate}},{{'hail'|translate}},{{'partly-cloudy-day'|translate}},{{'partly-cloudy-night'|translate}},{{'rain'|translate}},{{'sleet'|translate}},{{'snow'|translate}},{{'thunderstorm'|translate}},{{'tornado'|translate}},{{'wind'|translate}}
                            -->
                                <option [ngStyle]="{'font-family':fontFamily}" [ngValue]="v"
                                    *ngFor="let v of lightValues">{{v|translate}}</option>
                            </select>
                        </li>
                    </span>
                </ul>
                <div *ngIf="!k.value.multiple">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            *ngFor="let f of k.value.properties|keyvalue|condition:record['data']:k.key|display|orderBy">
                            {{f.key|translate}}: <span *ngIf="editing && isRequired(k.key,f.key)">*</span>
                            <app-input-field [fieldName]="f.key" [tableName]="k.key" [index]="-1" [editing]="editing"
                                [prop]="f" (setFieldCheckFieldChanged)="setCheckField($event)" [data]="record['data']"
                                [locale]="locale" [canvasmode]="canvasmode"
                                (setDateFieldValueChanged)="setInputDateField($event)"
                                (setFileChanged)="loadFieldFile($event)" (fieldChanged)="setFieldValue($event)"
                                [autocomplete_terms]="autocomplete_terms"
                                (startDrawing)="startDrawingCanvas($event, canvasmode)"
                                (turnOnAutoComplete)="setAutocompleteTerms($event)"></app-input-field>
                        </li>
                    </ul>
                </div>
                <div *ngIf="k.value.multiple">

                    <button *ngIf=editing type="button" class="btn btn-light float-right" (click)="addElement(k.key)"> +
                    </button>
                    <accordion>
                        <div class="card" *ngFor="let kk of record['data'][k.key]; let i = index">
                            <div class="card-body">
                                <accordion-group [isOpen]="accordionOpenedItem==i" (isOpenChange)="setAccordionOpen(i)">
                                    <div  accordion-heading>
                                        <button *ngIf=editing type="button" class="btn btn-light top-float-right"
                                            (click)="removeElement(k.key, i)"> -
                                        </button>
                                        <h5 class="card-title">{{k.value.title|translate}}: {{record['data'][k.key][i]|referenceName:k.key:schema}}</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"
                                            *ngFor="let f of k.value.properties|keyvalue|condition:record['data']:k.key:i|display|orderBy">
                                            {{f.key|translate}}:<span *ngIf="editing && isRequired(k.key,f.key)">*</span>
                                            <img  [src]="f.value.illustration" *ngIf="f.value.isIllustrated">
                                            <app-input-field [fieldName]="f.key" [tableName]="k.key" [index]="i"
                                                [editing]="editing" [prop]="f"
                                                (setFieldCheckFieldChanged)="setCheckField($event)"
                                                [data]="record['data']" [locale]="locale" [canvasmode]="canvasmode"
                                                (setDateFieldValueChanged)="setInputDateField($event)"
                                                (setFileChanged)="loadFieldFile($event)"
                                                (fieldChanged)="setFieldValue($event)"
                                                [autocomplete_terms]="autocomplete_terms"
                                                (startDrawing)="startDrawingCanvas($event, canvasmode)"
                                                (turnOnAutoComplete)="setAutocompleteTerms($event)"
                                                [schema]="schema"></app-input-field>
                                        </li>

                                    </ul>
                                </accordion-group>
                            </div>
                        </div>
                    </accordion>

                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer input">
    <button type="button" class="btn btn-dark" (click)="deleteRecord(modal)"
        *ngIf="editing">{{'Delete'|translate}}</button>
    <button type="button" class="btn btn-dark" (click)="saveRecord(modal)" *ngIf="editing">{{'Save'|translate}}</button>
    <button type="button" class="btn btn-light" (click)="closeModal(modal)">{{'Close'|translate}}</button>
</div>

<ng-template #canvasmode let-canvasmodal>
    <div class="modal-header">
        <h4 class="modal-title">{{'Draw' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="cancelDrawing(canvasmodal)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="canvas-container">
        <canvas id="scribble"></canvas>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light" (click)="endDrawing(canvasmodal)">{{'Ok'|translate}}</button>
        <button class="btn btn-light" (click)="resetDrawing()">{{'Reset'|translate}}</button>
        <button class="btn btn-light" (click)="cancelDrawing(canvasmodal)">{{'Cancel'|translate}}</button>
    </div>

</ng-template>