div.legend {
    background-color: white;
    position: absolute;
    bottom: 25px;
    right: 15px;
    z-index: 1001;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}
@media (max-width: 994px) {
    div.legend {
        bottom: 96px !important;
    }
}

@media (min-width: 995px) {
    div.legend {
        bottom: 25px !important;
    }
}