{% extends "admin/change_form.html" %}
{% load record_schema %}
{% block after_field_sets %}
{% autoescape off %}
<style type="text/css">
    .field-options_values{display:none}
</style>
<script type="text/javascript">
    (function () {
        if (!$) {
            $ = django.jQuery;
        }
        const schema = JSON.parse($(".field-options_values div.readonly")[0].innerHTML)
        const setFields = () => {
            const table = $('#id_content_type_key').val()
            $("#id_property_key").val(null)
            $("#id_property_key option").hide()
            Object.entries(schema[table]).forEach(e => {
                const ident = `#id_property_key option[value='${e[0]}']`
                $(`#id_property_key option[value='${e[0]}']`).show()
            })
        }
        $('#id_content_type_key').change(setFields)
        const setValues = () => {
            const table = $('#id_content_type_key').val()
            const field = $('#id_property_key').val()
            console.log($("#id_enum_costs"))
            let txt=$("#id_enum_costs").val()
            if(!txt.length) txt='{}'
            let current = JSON.parse(txt)
            Object.keys(current).forEach(k => {
                if (!(k in schema[table][field])) {
                    delete current[k]
                }
            })
            schema[table][field].forEach(v => {
                if (!(v in current)) {
                    current[v] = ''
                }
            })
            console.log(current)
            $(".hstore-toggle-txtarea").trigger('click')
            $("#id_enum_costs").val(JSON.stringify(current))
            setTimeout(() => $(".hstore-toggle-txtarea").trigger('click'), 100)

        }
        $('#id_property_key').change(setValues)

    })();
</script>
{% endautoescape %}
{% endblock %}