.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1) !important;
}

.carousel-inner div.fit {
    padding: 0px 100px 0 100px;
    background-color: white;
}

.sr-only {
    display: none;
}