<div class="counter">
    <div>
        {{filter['occurred_min']|date:'shortDate':'America/Sao_Paulo':'pt-BR'}} - {{filter['occurred_max']|date:'shortDate':'America/Sao_Paulo':'pt-BR'}}
        <br>
    </div>
    <div class="filter">
        <div *ngFor="let fld of fields">
            {{fld}}
        </div>
    </div>
    <div>

    </div>
    <div>
        <div *ngIf="counts['total_crashes']==null">
            <span class="spinner-border spinner-border-sm ml-3 mr-3 pr-3 pl-3"></span>
        </div>
        <div *ngIf="counts['total_crashes']!=null">{{counts['total_crashes']||('Zero'|translate)}} <span *ngIf="counts['total_crashes']==1">{{config['PRIMARY_LABEL']|translate}}</span>
            <span *ngIf="counts['total_crashes']!=1">{{config['PRIMARY_LABEL_PLURAL']|translate}}</span>
        </div>
    </div>
    <div *ngIf="counts['total']!=null" class="filter">
        <div *ngIf="!subtotals" class="filter-details" (click)="flipTotals()">
            {{"Social costs:"|translate}}:<br>{{counts['total']|localcurrency:config['CURRENCY']:language}}<br>
        </div>
        <div *ngIf="subtotals" class="filter-details" (click)="flipTotals()">
            <div *ngFor="let v of counts['subtotals'] | keyvalue">
                {{v.key|translate}}: {{v.value|localcurrency:config['CURRENCY']:language}}
            </div>
        </div>
    </div>
</div>