{% extends "admin/change_form.html" %} 
{% block after_field_sets %}
<div class="submit-row">
    <p class="deletelink-box"><a href="javascript:void(0);" class="calculate">Calculate</a></p>
    <p id="retrieve_message">  </p>
</div>
<style type="text/css">

.submit-row a.calculate {
    display: block;
    background: #00944a;
    border-radius: 4px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
}

</style>

<script>
(function() {
    if (!$) {
        $ = django.jQuery;
        console.log("Loading")
    }

    $('.calculate').click(function(){
        var csrf=document.cookie.match(/token=([^;]*)/).pop().replace(/%22/, '')
        console.log(csrf);
        var uuid='{{ original.uuid }}';
        $.ajax('/calculate_blackspots/'+uuid, {success:function(data){
            console.log(data)
            if(!data.taskid){
                return;
            }
            var k;
            
            var fu=function(){
                $.ajax('/retrieve_blackspots/'+data.taskid, {success:function(data_retrieve){
                    console.log('veio');
                    console.log(data_retrieve);
                    if(data_retrieve.status!="SUCCESS"){
                        k=setTimeout(fu, 3000)
                    }
                    $("#retrieve_message").text(data_retrieve.status)
                }})
            };
            k=setTimeout(fu, 3000)
        }});
    })




})();
</script>

<div id="progressbar"></div>
{% endblock %}