{% extends "admin/change_form.html" %} 
{% block after_field_sets %}
<div class="submit-row">
    <p class="deletelink-box">
        <a href="javascript:void(0);" class="calculate">Calculate</a>
    </p>
    <p id="retrieve_message"> {{original.stats}} </p>
    
</div>
<style type="text/css">

.submit-row a.calculate {
    display: block;
    background: #00944a;
    border-radius: 4px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
}
a.calculating{
    opacity: 0.4;
}

</style>

<script>
(function() {
    if (!$) {
        $ = django.jQuery;
        console.log("Loading")
    }
    var calculating=true;
    var uuid='{{ original.uuid }}';
    if(uuid=='')
        $('.calculate').addClass('calculating');
    else
        calculating=false;

    $('.calculate').click(function(){
        if(calculating) return;
        calculating=true;
        var csrf=$("input[name=csrfmiddlewaretoken]").val()
        $('.calculate').addClass('calculating');
        $.ajaxSetup({
        headers:
            { 'X-CSRF-Token': csrf }
        });
        $.ajax('/api/blackspotsets/calculate/', {
                method:'post', 
                data:{
                    uuid:uuid,
                    csrfmiddlewaretoken:csrf
                }, 
                success:function(data){
                    $('.calculate').addClass('calculating');
                    console.log(data);
                    if(!data.taskid){
                        calculating=true;
                        return;
                    }

                    var k;
                    
                    var fu=function(){
                        $.ajax('/api/blackspotsets/task/', {method:'post', data: {
                                task:data.taskid,
                                csrfmiddlewaretoken:csrf
                            }, success:function(data_retrieve){
                                console.log('veio');
                                console.log(data_retrieve);
                                if(data_retrieve.status!="SUCCESS"){
                                    k=setTimeout(fu, 3000)
                                }else{
                                    $('.calculate').removeClass('calculating');
                                    calculating=false;
                                }
                                $("#retrieve_message").text(data_retrieve.status)
                            }, error:function(d){
                                console.log(d)
                                $("#retrieve_message").text("Error: "+d.status)
                            }
                        })
                    };
                    k=setTimeout(fu, 3000);
        }
        });
    })
    
})();
</script>

<div id="progressbar"></div>
{% endblock %}