<app-navbar *ngIf="recordSchema && filter" [recordSchema]=recordSchema class=navbar-fixed [config]=config [filter]=filter [filterObject]=filterObject [boundaries]=boundaries (boundaryChange)=setBoundary($event) (boundaryPolygonChange)=setBoundaryPolygon($event)
    [boundary]=boundary [boundaryPolygons]=boundaryPolygons [boundaryPolygon]=boundaryPolygon (filterChange)=setFilter($event) (stateChange)=selectState($event) (reportChange)=setReport($event) [stateSelected]=state (goBack)=goBack($event) (iRapChange)=setIrap($event)
    [iRap]=iRap [irapDataset]=irapDataset (newRecord)=startRecord($event) [inserting]=listening (startDownload)=download($event) [canWrite]="canWrite">
</app-navbar>
<app-list *ngIf="state=='List'" [filter]=filter [listPage]=listPage (setListPage)=setListPage($event) [boundary_polygon_uuid]=boundary_polygon_uuid [recordSchema]=recordSchema [recordList]=recordList (viewRecord)="viewRecord(viewpoint, $event)"></app-list>
<app-map *ngIf="state=='Map'" (setDrawing)=setDrawing($event) [fitBounds]=fitBounds [options]=options [layers]=layers [layersControl]=layersControl [boundary_polygon_uuid]=boundary_polygon_uuid (map)=setMap($event) (onSetPolygon)=setPolygon($event) [polygon]=polygon
    [mapListening]=listening (newRecord)=newRecord($event,viewpoint)></app-map>

<app-legend [config]="config" [legends]=legends *ngIf=legends></app-legend>
<app-counter [config]="config" [counts]=counts [filter]="filter" *ngIf="counts && state=='Map'"></app-counter>

<button (click)=mapClick(viewpoint) [hidden]="true" id="map-popup-button"></button>
<ng-template #viewpoint let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{'Record' | translate}}
            <button type="button" class="btn float-left mx-2" aria-label="Edit" (click)="editRecord()" *ngIf="(!editing) && canWrite">
                <i-bs name="pencil-square"></i-bs>
            </button>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeRecord(modal)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <app-input [config]=config *ngIf=record [record]=record [recordSchema]=recordSchema [editing]=editing (mapillaryId)="setMapillary($event)" [modal]=modal (reloadRecords)="reloadRecords($event)">
    </app-input>
</ng-template>

<div id="popup-content">
    <h5>-name-</h5>
    <!--p>{{'Cost'| translate}}: -cost-</p-->
    <p>{{'Count'| translate}}: -total-</p>
</div>
<div id="record-popup-content">
    <h3>-date-</h3>
    <p>-location-</p>
    <input id="record-uuid" value="-uuid-" type=hidden>
    <a href="#" id="open-record-popup" (click)=popClick($event)>{{'View'|translate}}</a>
</div>

<app-report *ngIf="state=='Reports'" [recordSchema]=recordSchema [boundaries]=boundaries [report]=report [config]=config (reloadReport)=reloadReport($event)></app-report>
<app-charts *ngIf="state=='Charts'" [recordSchema]=recordSchema [boundaries]=boundaries [reportFilters]=reportFilters [filter]=filter [boundary_polygon_uuid]=boundary_polygon_uuid [weekdays]=weekdays></app-charts>
<app-duplicate *ngIf="state=='Duplicates'" [recordTypeUuid]="recordtype_uuid" [recordSchema]=recordSchema></app-duplicate>
<button *ngIf="mapillary_id" type="button" class="close mapillary-close" aria-label="Close" (click)="mapillary_id=null">
    <span aria-hidden="true">&times;</span>
</button>
<iframe class="mapillaryPop" *ngIf="mapillary_id" [src]="'https://www.mapillary.com/embed?image_key='+mapillary_id+ '&style=photo' | safe : 'resourceUrl'" height="100%" width="100%" frameborder="0">
</iframe>

<div class="irap-control m-3 p-2" *ngIf="hasIrap && (state=='Map')">
    <div class="irap-header">
        <button type="button" class="close irap-close" aria-label="Close" (click)="removeIrap()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>iRAP Star Rating Layer</h3>
    </div>
    <h5 *ngFor="let t of iraplayer['title']">{{t['name']}}</h5>
    <div class="form-group">
        <label>{{'Situation'|translate}}: </label>
        <select [(ngModel)]="iraplayer['when']" (change)=drawIrap()>
            <option value="before">{{'Before'|translate}}</option>
            <option value="after">{{'After'|translate}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{'Road user'|translate}}: </label>
        <select [(ngModel)]="iraplayer['what']" (change)=drawIrap()>
            <option value="pedestrian">{{'Pedestrian'|translate}}</option>
            <option value="bicycle">{{'Bicycle'|translate}}</option>
            <option value="motorcycle">{{'Motorcycle'|translate}}</option>
            <option value="car">{{'Car'|translate}}</option>
        </select>
    </div>
</div>