<app-navbar class=navbar-fixed [filter]=filter [boundaries]=boundaries (boundaryChange)=setBoundary($event) (boundaryPolygonChange)=setBoundaryPolygon($event) [boundary]=boundary [boundaryPolygons]=boundaryPolygons [boundaryPolygon]=boundaryPolygon (filterChange)=setFilter($event)
    (stateChange)=selectState($event)></app-navbar>
<app-list *ngIf="state=='List'" [filter]=filter [boundary_polygon_uuid]=boundary_polygon_uuid [recordSchema]=recordSchema [recordList]=recordList (viewRecord)="viewRecord(viewpoint, $event)"></app-list>
<app-map *ngIf="state=='Map'" [fitBounds]=fitBounds [options]=options [layers]=layers [layersControl]=layersControl [boundary_polygon_uuid]=boundary_polygon_uuid></app-map>

<button (click)=mapClick(viewpoint) [hidden]="true" id="map-popup-button"></button>
<ng-template #viewpoint let-modal>
    <div class="modal-header">
        <h4 class="modal-title" i18n>Record</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span> 
        </button>
    </div>
    <div class="modal-body">
        <app-input [record]=record [recordSchema]=recordSchema></app-input>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')" i18n>Close</button>
    </div>
</ng-template>