body {
    overflow: hidden;
}

#record-popup-content,
#popup-content {
    display: none;
}

.mapillaryPop {
    z-index: 100000;
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 240px;
    width: 320px;
}

.mapillary-close {
    z-index: 100000;
    position: absolute;
    bottom: 258px;
    left: 314px;
    width: 20px;
    height: 20px;
    font-size: 8pt;
    padding: 0;
}