body {
    overflow: hidden;
}

#record-popup-content,
#popup-content {
    display: none;
}

.mapillaryPop {
    z-index: 100000;
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 329px;
    width: 573px;
}

.mapillary-close {
    z-index: 100000;
    position: absolute;
    bottom: 346px;
    left: 566px;
    width: 20px;
    height: 20px;
    font-size: 8pt;
    padding: 0;
}

.irap-control {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: white;
    border: 1px solid gray;
    z-index: 99999;
    border-radius: 5px;
}

.irap-header {
    position: relative;
}

.irap-close {
    position: absolute;
    right: 2px;
    top: 2px;
}

.form-inline label input[type="checkbox"] {
    position: fixed;
    z-index: -10;
    opacity: 0;
    left: 0;
    top: 0;
}

.modal {
    overflow: visible;
}

.modal-body {
    overflow-y: visible;
}

.btn-outline-secondary {
    background-color: white;
}

.btn-outline-secondary:hover {
    background-color: darkgray;
}

button.clean,
label.clean {
    font-family: sans-serif;
}

html {
    touch-action: pan-down
}

#floating-commands {
    position: absolute;
    right: 0;
    z-index: 5000;
    bottom: 0;
}
@media only screen and (max-width: 960px) {
    .navbar-fixed {
        display:none;
    }
}
@font-face{
    font-family: text-security-disc;
    src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
  }
  .password{
    -webkit-text-security: disc;
    font-family: text-security-disc;
}