{% load static %}
{% load get_item %}

<fieldset class="module aligned {{ fieldset.classes }}">
  <textarea style="display:none" name="{{ widget.name }}_loader" {% include "django/forms/widgets/attrs.html"  %}>
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
<app-jsoneditor textarea_id="{{widget.attrs|get_item:"id"}}" textarea_name="{{widget.name}}"></app-jsoneditor>
<script src="{% static "dist/grouteditor/runtime.e227d1a0e31cbccbf8ec.js" %}"></script><script src="{% static "dist/grouteditor/polyfills.a4021de53358bb0fec14.js" %}"></script><script src="{% static "dist/grouteditor/main.776f58fa6ad696b8c025.js" %}"></script>
</fieldset>
