@charset "UTF-8";
.login-header {
    background-image: url(/assets/img/logo-prefeitura-g.png);
    background-repeat: no-repeat;
    height: 90px;
    background-position: right;
    border-bottom: 5px solid #eee;
    background-color: white;
    padding: 8px 15px;
}

.login-header img {
    top: 5px;
}

body {
    --bs-body-bg: #c6538c;
    background-color: black !important;
}

.board {
    max-width: 600px;
    margin: 0 auto 25px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 35%);
}